In [1]:
# Load Dependacies
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import linregress
import scipy.stats as st

In [3]:
# Load read of Hapiness Score and Length of Life csv join
hp_le_csv = "Resources/Joins HP_LE_WH.csv"

# Read CSV
hp_le_df = pd.read_csv(hp_le_csv)
hp_le_df.head()

,countryname,happinessscore,healthy_life_expectancy,year_2019,social_support,generosity,beer_percapita,spirit_percapita,wine_percapita
0,Albania,4.655,68.999,77.002,0.697,-0.030,89,132,54
1,United Arab Emirates,6.573,67.333,77.291,0.844,0.074,16,135,5
2,Argentina,6.650,69.000,73.242,0.898,-0.182,193,25,221
3,Armenia,4.360,67.055,71.327,0.799,-0.168,21,179,11
4,Australia,7.313,73.900,80.900,0.940,0.159,261,72,212

In [5]:
# Set order by happiness score
hp_le_sort_df = hp_le_df.sort_values("happinessscore", ascending = False)
hp_le_sort_df.head()

,countryname,happinessscore,healthy_life_expectancy,year_2019,social_support,generosity,beer_percapita,spirit_percapita,wine_percapita
28,Denmark,7.526,72.7,79.3,0.954,0.030,224,81,278
18,Switzerland,7.509,74.4,81.9,0.942,0.025,185,100,280
46,Iceland,7.501,73.0,81.0,0.983,0.160,233,61,78
75,Norway,7.498,73.3,81.2,0.954,0.093,169,71,129
33,Finland,7.413,72.0,79.2,0.954,-0.098,263,133,97